html, body, #root{
  height: 100%;
}

body {
  background-color: #D8C4A4;
}



.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f4f6f9;
  z-index: 9999;
  opacity: 0.7;
}

.loading-spinner {
  width: 100px;
  height: 100px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3F3F3F;
  border-right: 10px solid #3F3F3F;
  border-radius: 100%;
  animation: spinner 1.0s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-form {
  height: 100%; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-background-image {
  position: fixed;
  background-size: cover;
  /* opacity: 0.8; */
  z-index: -5;
}

/* .form-label, .form-check-label {
  color: white;
} */
.remember-me{
  cursor: pointer;
}
.remember-me:checked {
  background-color: #3F3F3F
}


div.card-header, .accordion-button, .accordion-button::after {
  background-color: #3F3F3F !important;
  border-color: #3F3F3F !important;
  color: white !important;
}

.card {
  border-color: #3F3F3F !important;
}

.construction-color-background {
  background-color: #3F3F3F;
  color: white;
}
.construction-color{
  color: #3F3F3F;
}
.form-label {
  color: #3F3F3F;
  font-weight: 600;
  /* font-size: 1rem; */
}
.construction-logo {
  color: #3F3F3F;
  font-size: 2rem;
}

.construction-logo-main {
  color: #3F3F3F;
  font-size: 1.5rem;
}

section {
  padding: 0;
}

.nav-link {
  color: black;
  font-weight: 600;
}

.nav-link.active {
  color: white !important;
  background-color: #3F3F3F !important;
}

.construction-date-picker {
  border-start-start-radius: 0;
  /* display: inline; */
}

section {
  border: none;
}

.construction-btn {
  background-color: #3F3F3F;
  border-color: #3F3F3F;
  box-shadow:#3F3F3F;
  color: white;
}

.construction-btn:hover {
  background-color: #3F3F3FEE;
  color: white;
}


.table td, 
.table th {
   white-space: nowrap;
    min-width: 10rem;
    max-width: 20rem;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    text-align: center;
}

.text-expand {
  overflow: hidden;
  height: 1rem;
  /* resize: both; */
  /* word-wrap: break-word; */
  white-space: nowrap;

}

td, th {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.page-item.active > .page-link {
  background-color: #3F3F3F !important;
  color: white !important;
  box-shadow: #3F3F3F !important;
  border-color: #3F3F3F !important;
}

.page-link, .page-link:hover {
  color: black;
  box-shadow: #3F3F3FEE !important;
}
